{% extends 'base_layout.html' %}
{% block content %}

                <form method="post">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="{{ form.rut.id_for_label }}" class="form-label">RUT</label>
                        {{ form.rut }}
                        {{ form.rut.errors }}
                    </div>
                    
                    <div class="mb-3">
                        <label for="{{ form.razon_social.id_for_label }}" class="form-label">Razón Social</label>
                        {{ form.razon_social }}
                        {{ form.razon_social.errors }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.giro.id_for_label }}" class="form-label">Giro</label>
                        {{ form.giro }}
                        {{ form.giro.errors }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.direccion.id_for_label }}" class="form-label">Dirección</label>
                        {{ form.direccion }}
                        {{ form.direccion.errors }}
                    </div>
                    <hr>
                    <div class="d-flex justify-content-end">
                        <a href="{% url 'listar_clientes' %}" class="btn btn-secondary me-2">Cancelar</a>
                        <button type="submit" class="btn btn-success">{{ accion }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
